body {
    max-width: 1440px;
    margin: 0 auto;
    max-height: 100vh;
    background-color: rgb(7,7,36);
    background-image: url(./assets/background-stars.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    position: relative;
}