.mercury {
    width: 100px;
    height: 100px;
    background-image: url("./assets/planet-mercury.svg");
    background-size: contain;
} 
.venus {
    width: 100px;
    height: 100px;
    background-image: url("./assets/planet-venus.svg");
    background-size: contain;
} 
.earth {
    width: 100px;
    height: 100px;
    background-image: url("./assets/planet-earth.svg");
    background-size: contain;
} 
.mars {
    width: 100px;
    height: 100px;
    background-image: url("./assets/planet-mars.svg");
    background-size: contain;
} 
.jupiter {
    width: 100px;
    height: 100px;
    background-image: url("./assets/planet-jupiter.svg");
    background-size: contain;
} 
.saturn {
    width: 100px;
    height: 100px;
    background-image: url("./assets/planet-saturn.svg");
    background-size: contain;
} 
.uranus {
    width: 100px;
    height: 100px;
    background-image: url("./assets/planet-uranus.svg");
    background-size: contain;
} 
.neptune {
    width: 100px;
    height: 100px;
    background-image: url("./assets/planet-neptune.svg");
    background-size: contain;
} 

.test {
    width: 100px;
    height: 100px
}