main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .nav-mobile {
        width: 100%;
        margin-top: 7rem;

        @include tablet {
            display: none;
        }
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            position: relative;
            &::after {
                content:"";
                width: 100%;
                border-bottom: .1rem solid rgba(255,255,255,0.25);
                display: block;
                position: absolute;
                bottom: 0;
            }
            li {
                width: 33%;
                text-align: center;
                button {
                    width: 75%;
                    background-color: transparent;
                    border: none;
                    color: rgba(255,255,255,0.5); 
                    font-family: 'League Spartan', sans-serif;
                    font-size: .9rem;
                    letter-spacing: .2rem;
                    font-weight: 700;
                    line-height: 5rem;
                    text-transform: uppercase;
                }

                &.active button {
                    color: rgba(255,255,255);
                }

                &.active button::after {
                    content: "";
                    display: block;
                    border-bottom: .4rem solid rgb(65,158,187);
                }

                &.mercury.active button::after {
                    border-color:rgb(65,158,187);
                }
                &.venus.active button::after {
                    border-color: rgb(237,162,73);
                }
                &.earth.active button::after {
                    border-color: rgb(109,46,213);
                }
                &.mars.active button::after {
                    border-color: rgb(209,76,50);
                }
                &.jupiter.active button::after {
                    border-color: rgb(216,58,52);
                }
                &.saturn.active button::after {
                    border-color: rgb(205,81,32);
                }
                &.uranus.active button::after {
                    border-color: rgb(30,193,162);
                }
                &.neptune.active button::after {
                    border-color: rgb(45,104,240);
                }
            }
        }
    }

    [class^="image"] {
        width: 30rem;
        height: 30rem;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        @include tablet {
            width: 50rem;
            height: 50rem;
        }

        @include desktop {
            width: 70rem;
            height: 70rem;
        }

        img {
            position: absolute;
            width: 8rem;
            height: 10rem;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include tablet {
                width: 12rem; 
                height: 14rem;
            }

            @include desktop {
                width: 16rem;
                height: 20rem;
            }
        }
    }
    
    .image.mercury.overview{
        background-image: url("./assets/planet-mercury.svg");
        background-size: 10rem 10rem;

        @include tablet {
            background-size: 18rem 18rem;
        }
        @include desktop {
            background-size: 29rem 29rem;
        }
    } 
    .image.venus.overview{
        background-image: url("./assets/planet-venus.svg");
        background-size: 15rem 15rem;
        @include tablet {
            background-size: 25rem 25rem;
        }
        @include desktop {
            background-size: 40rem 40rem;
        }
    } 
    .image.earth.overview{
        background-image: url("./assets/planet-earth.svg");
        background-size: 17rem 17rem;
        @include tablet {
            background-size: 28rem 28rem;
        }
        @include desktop {
            background-size: 45rem 45rem;
        }
    } 
    .image.mars.overview{
        background-image: url("./assets/planet-mars.svg");
        background-size: 13rem 13rem;
        @include tablet {
            background-size: 21rem 21rem;
        }
        @include desktop {
            background-size: 34rem 34rem;
        }
    } 
    .image.jupiter.overview{
        background-image: url("./assets/planet-jupiter.svg");
        background-size: 22rem 22rem;
        @include tablet {
            background-size: 37rem 37rem;
        }
        @include desktop {
            background-size: 58rem 58rem;
        }
    } 
    .image.saturn.overview{
        background-image: url("./assets/planet-saturn.svg");
        background-size: 25rem 25rem;
        @include tablet {
            background-size: 42rem 42rem;
        }
        @include desktop {
            background-size: 67rem 67rem;
        }
    } 
    .image.uranus.overview{
        background-image: url("./assets/planet-uranus.svg");
        background-size: 18rem 18rem;
        @include tablet {
            background-size: 29rem 29rem;
        }
        @include desktop {
            background-size: 46rem 46rem;
        }
    } 
    .image.neptune.overview{
        background-image: url("./assets/planet-neptune.svg");
        background-size: 17rem 17rem;
        @include tablet {
            background-size: 29rem 29rem;
        }
        @include desktop {
            background-size: 45rem 45rem;
        }
    } 
    .image.mercury.structure{
        background-image: url("./assets/planet-mercury-internal.svg");
        background-size: 10rem 10rem;
        @include tablet {
            background-size: 18rem 18rem;
        }
        @include desktop {
            background-size: 29rem 29rem;
        }
    } 
    .image.venus.structure{
        background-image: url("./assets/planet-venus-internal.svg");
        background-size: 15rem 15rem;
        @include tablet {
            background-size: 25rem 25rem;
        }
        @include desktop {
            background-size: 40rem 40rem;
        }
    } 
    .image.earth.structure{
        background-image: url("./assets/planet-earth-internal.svg");
        background-size: 17rem 17rem;
        @include tablet {
            background-size: 28rem 28rem;
        }
        @include desktop {
            background-size: 45rem 45rem;
        }
    } 
    .image.mars.structure{
        background-image: url("./assets/planet-mars-internal.svg");
        background-size: 13rem 13rem;
        @include tablet {
            background-size: 21rem 21rem;
        }
        @include desktop {
            background-size: 34rem 34rem;
        }
    } 
    .image.jupiter.structure{
        background-image: url("./assets/planet-jupiter-internal.svg");
        background-size: 22rem 22rem;
        @include tablet {
            background-size: 37rem 37rem;
        }
        @include desktop {
            background-size: 58rem 58rem;
        }
    } 
    .image.saturn.structure{
        background-image: url("./assets/planet-saturn-internal.svg");
        background-size: 25rem 25rem;
        @include tablet {
            background-size: 42rem 42rem;
        }
        @include desktop {
            background-size: 67rem 67rem;
        }
    } 
    .image.uranus.structure{
        background-image: url("./assets/planet-uranus-internal.svg");
        background-size: 18rem 18rem;
        @include tablet {
            background-size: 29rem 29rem;
        }
        @include desktop {
            background-size: 46rem 46rem
        }
    } 
    .image.neptune.structure{
        background-image: url("./assets/planet-neptune-internal.svg");
        background-size: 17rem 17rem;
        @include tablet {
            background-size: 29rem 29rem;
        }
        @include desktop {
            background-size: 45rem 45rem;
        }
    } 
    
    .planetInformations{
        margin: 0 2.5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        @include tablet {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        @include desktop {
            flex-direction: row;
        }
        .infoWrapper {
            text-align: center;

            @include tablet {
                width: 100%;
                text-align: start;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            @include desktop {
                flex-direction: column;
                width: 40%;
                padding-right: 16rem;
            }
            div {
                width: 100%;
                @include tablet {
                    width: 50%;
                }

                @include desktop {
                    width: 100%;
                }
                h2 {
                    font-size: 4rem;
                    font-family: 'Antonio', sans-serif;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: rgba(255,255,255);
                    margin-bottom: 1.5rem;
                }
                p {
                    font-size: 1.1rem;
                    font-family: 'League Spartan', sans-serif;
                    line-height: 2.2rem;
                    color: rgba(255,255,255, .75);
                    font-weight: 400;
                    margin-bottom: 3rem;
                }
                span, span a {
                    font-size: 1.2rem;
                    font-family: 'League Spartan', sans-serif;
                    line-height: 2.5rem;
                    color: rgba(255,255,255, .5);
                    font-weight: 400;
                }
    
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    @include tablet {
                        justify-content: flex-start;
                    }
                    a {
                        margin-left: 1rem;
                        &::after {
                            content: url('./assets/icon-source.svg');
                            margin-left: .5rem;
                        }
                    }
                }
            }
            .nav-tabletDesktop {
                display: none;
    
                @include tablet {
                    display: flex;
                    width: 40%;
                    align-items: center;
                }

                @include desktop {
                    width: 100%;
                    
                }
                ul {
                    width: 100%;
                    li {
                        width: 100%;

                        &:nth-of-type(2) {
                            margin: 2rem 0;
                        }

                        button {
                            text-align: start;
                            width: 100%;
                            background-color: transparent;
                            color: rgba(255,255,255);
                            font-size: .9rem;
                            line-height: 2.5rem;
                            letter-spacing: .2rem;
                            font-weight: 700;
                            text-transform: uppercase;
                            padding: 1rem 0;
                            border: .1rem solid rgba(255,255,255, .5);

                            @include desktop {
                                &:hover {
                                    background-color: rgba(216,216,216, .2);
                                    cursor: pointer;
                                }
                            }

                            span {
                                color: rgba(255,255,255, .75);
                                margin-left: 2rem;
                            }
                        }

                        &.mercury.active {
                            button {
                                background-color: rgb(65, 158, 187);
                            }
                        }
                        &.venus.active {
                            button {
                                background-color: rgb(237, 162, 73);
                            }
                        }
                        &.earth.active {
                            button {
                                background-color: rgb(109,46,213);
                            }
                        }
                        &.mars.active {
                            button {
                                background-color: rgb(209, 76, 50);
                            }
                        }
                        &.jupiter.active {
                            button {
                                background-color: rgb(216,58,52);
                            }
                        }
                        &.saturn.active {
                            button {
                                background-color: rgb(205,81,32);
                            }
                        }
                        &.uranus.active {
                            button {
                                background-color: rgb(30,193,162);
                            }
                        }
                        &.neptune.active {
                            button {
                                background-color: rgb(45,104,240);
                            }
                        }
                    }
                }
            }
        }
        
    }

    .planetNumbers{
        width: 100%;
        margin: 3rem 0;
        padding: 0 2.5rem;

        @include tablet {
            display: flex;
            flex-direction: row;
        }

        @include desktop {
            padding:0 16rem 0 0;
        }
        div {
            width: 100%;
            height: 5rem;
            border: .1rem solid rgba(255,255,255,0.25);
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2.5rem;

            @include tablet {
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-right: 1rem;
                height: auto;
                padding: 2rem 1.5rem;

                &:last-of-type {
                    margin-right: 0;
                }
            }
            h3 {
                font-size: 1rem;
                font-family: 'League Spartan', sans-serif;
                color: rgba(255,255,255, .5);
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: .1rem;
                @include tablet {
                    margin-bottom: 1rem;
                }
            }
            
            p {
                font-size: 2rem;
                font-family: 'Antonio', sans-serif;
                color: rgb(255,255,255);
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: -.1rem;

                @include tablet {
                    font-size: 2.5rem;
                }
                
            }
        }
    }
}

